
.login-wrapper {
    display: flex;
    justify-content: center;
}



.login-card {
    width: 27vw;
    margin-top: 5%;
}

.heading-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-logo > img {
    width: 15vw;
    margin-top: 2%;
}